.flex {
    display: flex;
}

.list-reset {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

/* header */

.header {
    border-bottom: 2px solid #7C7153;
}

.header__list {
    align-items: center;
}

.header__item {
    font-size: 20px;
    line-height: 100%;
}

.header__item:not(:last-child) {
    margin-right: 30px;
}

.header__nav {
    justify-content: center;
}

/* hero */

.hero__container {
    justify-content: space-around;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.hero__title {
    margin: 0;
    font-size: 64px;
    line-height: 100%;
    color: #7C7153;
}

.hero__avatar {
    width: 30%;

}

.hero__img {
    width: 100%;
    height: 100%;
}

/* personal-information */

.personal-information,
.coding {
    background-color: #E6E8EC;
}

.personal-information__container,
.about-skills__container,
.work-education__container,
.coding__container {
    padding-top: 80px;
    padding-bottom: 80px;
}

.title {
    margin: 0;
    margin-bottom: 40px;
    font-size: 42px;
}

.subtitle {
    margin: 0;
    margin-bottom: 20px;
    font-size: 26px;
}

.description,
.item {
    font-size: 18px;
}

/* about-skills */

.about-skills {
    border-bottom: 2px solid #7C7153;
}

/* footer */

.footer {
    background-color: #292E39;
}

.footer__container {
    padding-top: 35px;
    padding-bottom: 35px;
}

.subtitle--footer,
.description--footer {
    color: white;
}

.description--footer a, .description--footer span {
    color: #A1A6B4;
}